asgiref==3.6.0
certifi==2021.10.8
charset-normalizer==2.0.10
autopep8==2.0.1
Django==4.1.5
django-cors-headers==3.13.0
django-environ==0.8.1
djangorestframework==3.14.0
fire==0.4.0
idna==3.3
requests==2.27.1
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pytz==2022.7.1
sqlparse==0.4.3
six==1.16.0
tomli==2.0.1
termcolor==1.1.0
urllib3==1.26.8
whitenoise==5.3.0
tzdata==2022.7
